<div class="modal-header">
    <h4 class="modal-title">Clone: Select target product</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <div class="product-selection-container">
        <label class="selection-label">Target Product</label>
        <div class="product-list-box">
            <div class="placeholder" *ngIf="!selectedProductId">
                Select the project to clone
            </div>
            <div class="product-options">
                <div
                    *ngFor="let product of sortedProducts"
                    class="product-option"
                    [class.selected]="selectedProductId === product.productId"
                    (click)="selectProduct(product.productId)"
                >
                    {{ product.productName }}
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button
    class="simpi-button-dark px-4"
    (click)="onConfirmSelection()"
    >
        clone
    </button>
</div>