.dark-color {
    background-color: var(--ion-color-dark);
}

.simpi-row {
    background-color: black;
}
.element-text {
    font-size: 22px;
    color: white;
}
.mr {
    margin-right: -5px;
}
.text-left {
    text-align: left !important;
}

.ml,
.element-text {
    color: white;
}

.no-m-p {
    padding: 0;
    margin: 0;
}
.simpi-row {
    background-color: black;
}