<div class="analytics">
    <div class="views">
      <div class="total-views">
        <span class="views-number">2,334</span>
        <span class="views-text">Total views</span>
      </div>
      <div class="weekly-views">
        <span class="views-number">60</span>
        <span class="views-text">This week views</span>
      </div>
      <div class="monthly-views">
        <span class="views-number">452</span>
        <span class="views-text">This month views</span>
      </div>
    </div>
    <div class="products">
      <div class="total-products">
        <span class="product-number">3</span>
        <span class="product-text">Total Products</span>
      </div>
      <div class="total-simpies">
        <span class="simple-number">52</span>
        <span class="simple-text">Total Simpies</span>
      </div>
    </div>
  </div>