.toolbar-background {
  border-radius: 16px 16px 0 0 !important;
}

lib-ionic-pullup {
  .toolbar {
    height: 30px;
    --background: #ffffff;
    border-radius: 16px 16px 0 0 !important;

    .handle {
      display: flex;
      justify-content: center;
      width: 100%;
      height: 30px;

      .bar {
        background-color: #C4C4C4;
        opacity: 0.4;
        border-radius: 2px;
        width: 52px;
        height: 4px;
      }
    }
  }
}
