<h4>Translation Language Template</h4>
<span>Go to SIMPI settings to apply the template.</span>

<div class="langauges-thumbnail-box">
  <div class="heading">
    <h4>Translations</h4>
    <div class="help-icon" title="Help">
      <span class="dark extra-small circle-icon">?</span>
    </div>
  </div>
  <div *ngFor="let language of templateTranslations$ | async ">
    <div>
      <sim-language-input
        [language]="language"
        [allowDelete]="true"
        [loading]="false"
        [showVoice]="true"
        [brandId]="brandId"
        (delete)="deleteTemplateTranslation(language)"
        (voiceChange)="onVoiceChanged($event)"
      >
      </sim-language-input>
    </div>
    <!-- <div *ngIf="showInput">
      <sim-language-input
        [choices]="availableLanguages$ | async"
        [loading]="false"
        (languageChange)="onLanguageChanged()"
      ></sim-language-input>
    </div> -->
<!--    <div *ngFor="let target of translations$ | async">-->
<!--      <sim-language-input-->
<!--        [language]="target.language"-->
<!--        [allowDelete]="!target.isChanging"-->
<!--        (delete)="deleteTranslation(target)"-->
<!--      >-->
<!--      </sim-language-input>-->
<!--    </div>-->
  </div>

  <div *ngIf="showInput">
    <sim-language-input
      [choices]="availableLanguages$ | async"
      [loading]="addingTranslation"
      [showVoice]="false"
      (languageChange)="addTranslation($event)"
    ></sim-language-input>
  </div>

  <button class="simpi-button-light" (click)="enableTranslationAdding()">
    <img src="assets/svg/plus.svg" class="icon" />
    Add Translation
  </button>
</div>