<div class="modal-header">
    <h4 class="modal-title">{{ modalTitle }}</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <div class="share-content">
        <div class="url-display">
            <strong>Share this URL:</strong>
            <div class="url-text">{{ sharedUrl }}</div>
        </div>
    </div>
    <a [href]="sharedUrl" target="_blank" class="btn btn-primary">Open Link</a>
</div>
<div class="modal-footer">
    <button type="button" class="simpi-button-dark" (click)="copyLink()">Copy Link<span *ngIf="copySucceededRecently"> &#10004;</span></button>
    <button type="button" class="simpi-button-dark" (click)="activeModal.close()">Close</button>
</div>
