.step-sidebar {
  margin: 24px;

  font-family: Manrope, "Circular Std", sans-serif;
  color: var(--simpi-color-dark-blue-8);


  h3 {
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
  } }
