<div class="modal-header">
  <h4 class="modal-title">Add new Asset</h4>
  <button
    type="button"
    class="close"
    aria-label="Close"
    (click)="activeModal.dismiss('X click')"
  >
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form [formGroup]="createAssetForm">
    <div class="asset-thumbnail">
      <div class="image-container" [ngClass]="{ 'no-image': !thumbnailUrl }">
        <img
          *ngIf="thumbnailUrl"
          [src]="thumbnailUrl"
          alt="Asset thumbnail"
          class="asset-thumbnail"
        />
        <div
          class="circle-icon-button change-image-button"
          (click)="changeAssetThumbnail()"
          role="button"
        >
          <img src="assets/svg/camera.svg" alt="Edit image icon" />
        </div>
      </div>
    </div>
    <div class="forms">
      <div class="asset-title-form">
        <sim-text-input label="Title" formControlName="title"> </sim-text-input>
      </div>
      <div class="asset-description-form">
        <sim-text-input
          label="Description"
          formControlName="description"
          [textbox]="true"
        >
        </sim-text-input>
      </div>
      <div class="asset-manufacturer-form">
        <sim-text-input
          label="Manufacturer"
          formControlName="manufacturer"
          [textbox]="true"
          [rows]="2"
        >
        </sim-text-input>
      </div>
      <div class="asset-type-form">
        <div class="dropdown-container">
          <label for="assetType">Asset Type</label>
          <select
            class="form-control"
            id="assetType"
            formControlName="resourceType"
          >
            <option selected value="null">Select Asset Type</option>
            <option
              *ngFor="let type of assetTypes$ | async"
              [value]="type.value"
            >
              {{ type.text }}
            </option>
          </select>
        </div>
      </div>
      <div class="asset-link-form">
        <div class="form-group link-form-container">
          <label for="shoppingLink">Link</label>
          <div class="input-group has-validation">
            <div class="input-group-prepend">
              <span class="input-group-text">https://</span>
            </div>
            <input
              type="text"
              class="form-control"
              id="shoppingLink"
              formControlName="shoppingLink"
              (paste)="onPasteShoppingLink($event)"
              (blur)="onCheckShoppingLink()"
            />
          </div>
        </div>
      </div>
      <div class="asset-link-form">
        <div class="form-group link-form-container">
          <sim-switch formControlName="showOnStartPanel" [labelLeft]="null" [labelRight]="null"></sim-switch>
          <label for="shoppingLink">show on start panel</label>
        </div>  
      </div>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button
    (click)="activeModal.close({ success: true, value: createAssetForm.value })"
    class="simpi-button-dark"
    [disabled]="!createAssetForm.valid"
  >
    Save
  </button>
</div>
